{{yield}}
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <label for="inputGroupSelect01">Choose Supplier</label>
                <select class="js-example-basic-single form-control"  id="inputGroupSelect01" name="state">
                    {{#each list as |d|}}
                        <option selected>{{d.label}}</option>
                    {{/each}}
                </select>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td colspan="3" class="align-middle">Name:{{firstName}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">Cnic:</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">Address:</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">Phone:</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">STRN:</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">NTN:</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-middle">Invoice:</td>
                    </tr>
                </tbody>




            </table>


        </div>
        <div class="form-group col-md-6">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    {{!-- <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> --}}
    {{!-- <button type="submit" class="btn btn-primary">Sign in</button> --}}
</form>